node_modules/
.env
dist/
coverage/
.DS_Store
target/
*.jar
*.war
.idea/
*.iws
*.iml
*.ipr
.vscode/

trikaar-frontend/node_modules/
trikaar-frontend/dist/
trikaar-frontend/.env

trikaar-backend/target/
trikaar-backend/.env
